.root{
    -fx-background-image: url("bcg.jpg");
    -fx-background-size: 100%;
    -fx-max-height: 400;
    -fx-max-width: 600;
    -fx-min-height: 400;
    -fx-min-width: 600;
}
.button{
    -fx-background-color: #13226A;
    -fx-text-fill: #80D8F7;
    -fx-font-size: 14;
    -fx-alignment: center;
}
.radio-button{
    -fx-text-fill: #80D8F7;
    -fx-font-size: 14;
    -fx-alignment: center;
}
.label{
    -fx-text-fill: #80D8F7;
    -fx-alignment: center;
    -fx-font-size: 14;
}
.text-field{
    -fx-background-color: #80D8F7;
    -fx-text-fill: #13226A;
}
.list-view{
    -fx-font-size: 12;
    -fx-background-color: #13226A;
}
.scroll-bar{
    -fx-background-color: #13226A;
}
.increment-button, .decrement-button {
    -fx-background-color: #13226A;
}
.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: #13226A;
}
.list-view .list-cell{
    -fx-control-inner-background: #13226A;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 50%);
    -fx-text-fill: #80D8F7;
}
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #80D8F7;
}

#judokaComboBox{
    -fx-background-color: #80D8F7;
}
#iconLabel{
    -fx-text-fill: #13226A;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}
#info{
    -fx-text-fill: red;
}

#bigLabel {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #80D8F7;
}
#mainLabel {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #13226A;
}


